.head{
  background-color: #6bb5cc;
  padding: 5px 0;
  position: relative;
  top: 0;
  z-index: 10;
  p{
    text-align: center;
    font-family: arial;
    color: #fff;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: .8px;
    margin: 0;


    b{
      color:#fff;
    }
  }
}