#header{
  position: relative;
  height: calc(80vh - 100px);
  overflow: hidden;

  .slider{
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;

  }

  .slider1{
    background-image: url("/Storage/Statics/images/header1.jpg");
  }

  .slider2{
    background-image: url("/Storage/Statics/images/header2.jpg");
  }

  .slider3{
    background-image: url("/Storage/Statics/images/header3.jpg");
  }

  .slider.active{
    display: block;
    animation: show-slider 2s;
  }

  .pagination{
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    -webkit-transform: translateX(-50%);

    ul{
      li{
        width: 12px;
        height: 12px;
        border: 1px solid #fff;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        margin-right: 3px;

        &:hover{
          background-color: #fff;
        }

      }

      li.active{
        background-color: #fff;
        transform: scale(1.5);
      }

    }
  }

}