
nav.my-navbar{
  display: flex;
  align-content: center;
  min-height: 50px;
  box-shadow: 0 2px 10px #ddd;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 4px 0;

  .links{
    ul{
      margin: 0;
      li{
        display: inline-block;
        font-weight: 500;
        margin-right: 15px;
        color: $font-color;
        transition: all .3s ease;
        position: relative;
        padding-top: 13px;

        span.show{
          display: none;
        }

        &:after{
          content: '';
          display: block;
          height: 2px;
          width: 0;
          background-color: #6cb5cc;
          transition: all .3s ease;
          margin-top: 5px;
        }

        .drop-down{
          position: absolute;
          top: calc(50% + 25px);
          right: 0;
          //border-radius: 5px;
          width: 250px;
          box-shadow: 2px 2px 5px #ddd;
          z-index: 5;
          border: 1px solid #ddd;
          background-color: #ffffff;
          //height: 0;
          transition: all .3s ease;
          overflow: hidden;
          visibility: hidden;
          line-height: 30px;

          a{
            display: block;
            font-size: .9em;
            padding: 5px 10px;

            &:hover{
              background-color: #0C1021;
              color: #6cb5cc;
            }
          }
        }

        a{
          color: #8c8c8c;
          font-size: medium;
          &:hover
          {
            color: #6cb5cc;
          }
        }

        &:not(.icone)
        {
          &:hover
          {
            color: #000;
            text-decoration: none;
            &:after{
              width: 100%;
            }
          }
        }

        &:not(.keep)
        {
          @media only screen and (max-width: 1024px)
          {
            display: none;
          }
        }

        @media only screen and (max-width: 600px)
        {
          &.lang{

            span.hide{
              display: none;
            }

            span.show{
              display: inline;
            }

          }

        }

      }

      li#menu-btn-icon
      {
        font-size: 2.2em;
        margin-left: 20px;
        min-width: 146px;
        cursor: pointer;
        display: none;

        @media only screen and (max-width: 1024px)
        {
          display: block;
        }

        @media only screen and (max-width: 600px)
        {
          min-width: auto;
        }
      }

      .account-link
      {
        &:hover
        {
          .drop-down
          {
            //height: 60px;
            visibility: visible;
          }

        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    justify-content: space-between;
    padding: 0px;
  }

  .menu
  {
    position: absolute;
    background-color: #253b50;
    top: 100%;
    right: 0;
    left: 0;
    height: 0;
    transition: height .3s ease;
    overflow: hidden;
    z-index: 20;
    ul
    {
      margin: 0;
      li
      {
        text-align: center;
        padding: 16px 0;
        border-bottom: 1px solid #524d4d;
        cursor: pointer;
        transition: all .3s ease;

        path{
          color: #c1c1c1;
        }

        &:hover
        {
          background-color: #346382;
        }
        a
        {
          color: #fff;
          display: block;
        }

        &.hidden{
          height: 0;
          overflow: hidden;
          padding: 0;
          border: 0;
        }

        &.drop{
          background-color: #24303c;
        }
      }
    }
  }

}
