@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Poppins:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #3c3c3c;
  text-decoration: none; }

label.UploadLabel {
  padding: 6px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  display: table-cell;
  cursor: pointer; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

ul {
  list-style-type: none; }

.flex {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around; }

.ha-article-container {
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  position: relative;
  cursor: pointer; }
  .ha-article-container .ha-article-container-header-slider {
    height: 500px;
    background-image: url("/Storage/uploads/users/science_pic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 600px) {
      .ha-article-container .ha-article-container-header-slider {
        height: 300px; } }
  .ha-article-container .ha-article-container-header-title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    color: #00aad4;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4); }
    .ha-article-container .ha-article-container-header-title * {
      color: white; }
    @media only screen and (max-width: 600px) {
      .ha-article-container .ha-article-container-header-title {
        font-size: 22px;
        margin-right: 5px;
        color: white; }
        .ha-article-container .ha-article-container-header-title small {
          display: none; } }
  .ha-article-container .ha-article-container-body {
    padding: 10px;
    width: 100%;
    position: relative;
    margin: 10px auto; }
    .ha-article-container .ha-article-container-body h1 {
      margin: 20px 0px; }
    .ha-article-container .ha-article-container-body .ha-article-card {
      display: flex;
      justify-content: space-around;
      margin: 10px auto;
      width: 80%;
      height: 235px;
      padding: 5px; }
      .ha-article-container .ha-article-container-body .ha-article-card .card-img {
        width: fit-content;
        margin-right: 10px;
        height: 100%; }
      .ha-article-container .ha-article-container-body .ha-article-card .card-content {
        margin-left: 10px; }
        .ha-article-container .ha-article-container-body .ha-article-card .card-content .title {
          font-weight: 1000;
          font-size: 30px; }
        .ha-article-container .ha-article-container-body .ha-article-card .card-content small {
          color: gray; }
        .ha-article-container .ha-article-container-body .ha-article-card .card-content .desc {
          font-size: 26px; }
      @media only screen and (max-width: 700px) {
        .ha-article-container .ha-article-container-body .ha-article-card {
          display: flex;
          flex-wrap: wrap;
          overflow: auto;
          height: auto;
          width: 110%; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content .card-img {
            width: 100%;
            height: fit-content; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content .title {
            font-weight: bold;
            font-size: 20px !important; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content .desc {
            font-size: 14px !important; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content .time {
            font-size: 10px !important; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content button {
            width: 60% !important;
            margin: 5px auto;
            font-size: 10px !important; } }
      @media only screen and (max-width: 1200px) {
        .ha-article-container .ha-article-container-body .ha-article-card {
          display: flex;
          flex-wrap: wrap;
          overflow: auto;
          height: auto;
          width: 110%; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content .card-img {
            width: 100%;
            height: fit-content;
            position: relative !important;
            left: -300px !important; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content .title {
            font-weight: bold;
            font-size: 30px !important; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content .desc {
            font-size: 24px !important; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content .time {
            font-size: 20px !important; }
          .ha-article-container .ha-article-container-body .ha-article-card .card-content button {
            width: 30%;
            margin: 5px auto;
            font-size: 20px !important; } }
    .ha-article-container .ha-article-container-body .ha-article-card:hover .title {
      color: #17a2b8; }

/*# sourceMappingURL=article.css.map */
