@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Poppins:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #3c3c3c;
  text-decoration: none;
}

td svg:not(.edit-article-img svg.svg-inline--fa.fa-edit.fa-w-18) path {
  color: #fff;
}

th:last-of-type {
  min-width: 230px;
}

label.UploadLabel {
  padding: 6px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  display: table-cell;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around;
}

.ha-footer {
  position: relative;
  width: 100%;
  background-color: #1D2B36;
  padding: 20px 50px;
  overflow: hidden;
}
.ha-footer .ha-footer-head {
  position: relative;
  height: 75%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.ha-footer .ha-footer-head .ha-footer-head-sec4 {
  width: 150%;
}
.ha-footer .ha-footer-head .ha-footer-head-sec4 ul li {
  display: flex;
  align-items: center;
}
.ha-footer .ha-footer-head .ha-footer-head-sec4 ul li a {
  margin-left: 15px;
  line-height: 25px;
}
@media only screen and (max-width: 800px) {
  .ha-footer .ha-footer-head {
    flex-wrap: wrap;
  }
  .ha-footer .ha-footer-head .ha-footer-head-sec2 {
    border-top: 0.5px solid gray;
    padding-top: 10px;
  }
  .ha-footer .ha-footer-head .ha-footer-head-sec3 {
    border-top: 0.5px solid gray;
    padding-top: 10px;
  }
  .ha-footer .ha-footer-head .ha-footer-head-sec4 {
    border-top: 0.5px solid gray;
    padding-top: 10px;
  }
}
.ha-footer .ha-footer-head div {
  width: 100%;
  margin: 10px;
}
.ha-footer .ha-footer-head div .h3 {
  color: white;
}
.ha-footer .ha-footer-head .ha-footer-head-sec h4 {
  color: #93a1b0;
  font-size: 18px;
  width: 70%;
}
.ha-footer .ha-footer-head .ha-footer-head-sec img {
  margin: 10px 0px;
}
.ha-footer .ha-footer-head .ha-footer-head-sec ul li {
  color: #93a1b0;
  line-height: 40px;
}
.ha-footer .ha-footer-head .ha-footer-head-sec ul li a {
  color: #93a1b0;
}
.ha-footer .ha-footer-head .ha-footer-head-sec h3 {
  color: white;
}
.ha-footer .ha-footer-foot {
  position: relative;
  width: 100%;
  bottom: -20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 60px;
  padding: 5px 15px;
  border-top: 0.7px solid white;
}
@media only screen and (max-width: 800px) {
  .ha-footer .ha-footer-foot {
    flex-wrap: wrap;
  }
}
.ha-footer .ha-footer-foot div {
  color: white;
}

@-webkit-keyframes show-slider {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes show-slider {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-opacity: 1;
    opacity: 1;
  }
}

/*# sourceMappingURL=Footer_Style.css.map */
