
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Poppins:wght@300;700&display=swap');


@import 'General_style.scss';

$background-footer:#1D2B36;
$links-color : #93a1b0;
$title-color:white;

.ha-footer{
  position: relative;
  width: 100%;
  background-color: $background-footer;
  //margin-top: 20px;
  padding: 20px 50px;
  overflow: hidden;


  .ha-footer-head{
    position: relative;
    height: 75%;
    display: flex;
    justify-content: space-between;
    color: white;

    .ha-footer-head-sec4{
      width: 150%;
      ul{
        li{
          display: flex;
          align-items: center;

          a{
            margin-left: 15px;
            line-height: 25px;
          }
        }
      }
    }

    @media only screen and (max-width: 800px) {
      flex-wrap: wrap;
      .ha-footer-head-sec2{
        border-top: 0.5px solid gray;
        padding-top: 10px;
      }
      .ha-footer-head-sec3{
        border-top: 0.5px solid gray;
        padding-top: 10px;
      }
      .ha-footer-head-sec4{
        border-top: 0.5px solid gray;
        padding-top: 10px;

      }
    }

    div{
      width: 100%;
      margin:10px;
      .h3{
        color: $title-color;
      }
    }
    .ha-footer-head-sec{
      h4 {
        color: $links-color;
        font-size: 18px;
        width: 70%;
      }

      img{
        margin: 10px 0px;
      }

      ul {

        li{
          color: $links-color;
          line-height: 40px;
          a{
            color: $links-color;
          }
        }
      }

      h3{
        color: $title-color;

      }
    }
  }

  .ha-footer-foot{
    position: relative;
    width: 100%;
    bottom: -20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 60px;
    padding: 5px 15px;
    border-top: 0.7px solid white;

    @media only screen and (max-width: 800px) {
      flex-wrap: wrap;
    }

    div{
      color: white;
    }

  }
}



@import "Annimations";