/* Error: Undefined variable.
 *     ,
 * 121 |       color: $pink;
 *     |              ^^^^^
 *     '
 *   public\css\_nav.scss 121:14      @import
 *   public\css\Home_Style.scss 8:11  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 121 \2502        color: $pink;\d\a     \2502               ^^^^^\a     \2575 \a   public\\css\\_nav.scss 121:14      @import\a   public\\css\\Home_Style.scss 8:11  root stylesheet";
}
