@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Poppins:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #3c3c3c;
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around;
}

body .head {
  background-color: #6bb5cc;
  padding: 5px 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}
body .head p {
  text-align: center;
  font-family: arial;
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 0.8px;
  margin: 0;
}
body .head p b {
  color: #fff;
}
body nav {
  display: flex;
  align-content: center;
  min-height: 50px;
  box-shadow: 0 2px 10px #ddd;
  position: sticky;
  position: -webkit-sticky;
  top: 26px;
  z-index: 10;
  background-color: white;
}
body nav .links ul {
  margin: 0;
}
body nav .links ul li {
  display: inline-block;
  font-weight: 500;
  margin-right: 15px;
  color: #3c3c3c;
  transition: all 0.3s ease;
  position: relative;
}
body nav .links ul li span {
  position: absolute;
  top: -8px;
  left: 9px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffb0a8;
  color: darkred;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  line-height: 22px;
}
body nav .links ul li:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #6cb5cc;
  transition: all 0.3s ease;
  margin-top: 5px;
}
body nav .links ul li .drop-down {
  position: absolute;
  top: calc(50% + 25px);
  right: 0;
  border-radius: 5px;
  width: 150px;
  box-shadow: 2px 2px 10px #ddd;
  z-index: 5;
  border: 1px solid #ddd;
  background-color: #ffffffd4;
  height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  visibility: hidden;
}
body nav .links ul li .drop-down a {
  display: block;
  font-size: 0.8em;
  padding: 5px 10px;
}
body nav .links ul li .drop-down a:hover {
  background-color: #0C1021;
  color: #6cb5cc;
}
body nav .links ul li a {
  color: #8c8c8c;
}
body nav .links ul li a:hover {
  color: #6cb5cc;
}
body nav .links ul li:hover {
  color: #000;
  text-decoration: none;
}
body nav .links ul li:hover:after {
  width: 100%;
}
body nav .links ul .account-link:hover .drop-down {
  height: 60px;
  visibility: visible;
}
body .header {
  position: relative;
  height: calc(80vh - 100px);
  overflow: hidden;
}
body .header .slider {
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
body .header .slider1 {
  background-image: url("/Storage/Statics/images/header1.jpg");
}
body .header .slider2 {
  background-image: url("/Storage/Statics/images/header2.jpg");
}
body .header .slider3 {
  background-image: url("/Storage/Statics/images/header3.jpg");
}
body .header .slider.active {
  display: block;
  animation: show-slider 2s;
}
body .header .pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 10;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
}
body .header .pagination ul li {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
body .header .pagination ul li:hover {
  background-color: #fff;
}
body .header .pagination ul li.active {
  background-color: #fff;
}

@-webkit-keyframes show-slider {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes show-slider {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-opacity: 1;
    opacity: 1;
  }
}

/*# sourceMappingURL=Home_Style.css.map */
