@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Poppins:wght@300;700&display=swap');


@import 'General_style.scss';

body{
  margin: 0;
  ui{
    padding: 0;
    li{
      padding: 0;
    }
  }
  @import "head";
  @import "nav";
  @import "header_slider";
}

@import "Annimations";