@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Poppins:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #3c3c3c;
  text-decoration: none;
}

td svg:not(.edit-article-img svg.svg-inline--fa.fa-edit.fa-w-18) path {
  color: #fff;
}

th:last-of-type {
  min-width: 230px;
}

label.UploadLabel {
  padding: 6px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  display: table-cell;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around;
}

body .head {
  background-color: #6bb5cc;
  padding: 5px 0;
  position: relative;
  top: 0;
  z-index: 10;
}
body .head p {
  text-align: center;
  font-family: arial;
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 0.8px;
  margin: 0;
}
body .head p b {
  color: #fff;
}
body nav.my-navbar {
  display: flex;
  align-content: center;
  min-height: 50px;
  box-shadow: 0 2px 10px #ddd;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 4px 0;
}
body nav.my-navbar .links ul {
  margin: 0;
}
body nav.my-navbar .links ul li {
  display: inline-block;
  font-weight: 500;
  margin-right: 15px;
  color: #3c3c3c;
  transition: all 0.3s ease;
  position: relative;
  padding-top: 13px;
}
body nav.my-navbar .links ul li span.show {
  display: none;
}
body nav.my-navbar .links ul li:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #6cb5cc;
  transition: all 0.3s ease;
  margin-top: 5px;
}
body nav.my-navbar .links ul li .drop-down {
  position: absolute;
  top: calc(50% + 25px);
  right: 0;
  width: 250px;
  box-shadow: 2px 2px 5px #ddd;
  z-index: 5;
  border: 1px solid #ddd;
  background-color: #ffffff;
  transition: all 0.3s ease;
  overflow: hidden;
  visibility: hidden;
  line-height: 30px;
}
body nav.my-navbar .links ul li .drop-down a {
  display: block;
  font-size: 0.9em;
  padding: 5px 10px;
}
body nav.my-navbar .links ul li .drop-down a:hover {
  background-color: #0C1021;
  color: #6cb5cc;
}
body nav.my-navbar .links ul li a {
  color: #8c8c8c;
  font-size: medium;
}
body nav.my-navbar .links ul li a:hover {
  color: #6cb5cc;
}
body nav.my-navbar .links ul li:not(.icone):hover {
  color: #000;
  text-decoration: none;
}
body nav.my-navbar .links ul li:not(.icone):hover:after {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  body nav.my-navbar .links ul li:not(.keep) {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  body nav.my-navbar .links ul li.lang span.hide {
    display: none;
  }
  body nav.my-navbar .links ul li.lang span.show {
    display: inline;
  }
}
body nav.my-navbar .links ul li#menu-btn-icon {
  font-size: 2.2em;
  margin-left: 20px;
  min-width: 146px;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 1024px) {
  body nav.my-navbar .links ul li#menu-btn-icon {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  body nav.my-navbar .links ul li#menu-btn-icon {
    min-width: auto;
  }
}
body nav.my-navbar .links ul .account-link:hover .drop-down {
  visibility: visible;
}
@media only screen and (max-width: 1024px) {
  body nav.my-navbar {
    justify-content: space-between;
    padding: 0px;
  }
}
body nav.my-navbar .menu {
  position: absolute;
  background-color: #253b50;
  top: 100%;
  right: 0;
  left: 0;
  height: 0;
  transition: height 0.3s ease;
  overflow: hidden;
  z-index: 20;
}
body nav.my-navbar .menu ul {
  margin: 0;
}
body nav.my-navbar .menu ul li {
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #524d4d;
  cursor: pointer;
  transition: all 0.3s ease;
}
body nav.my-navbar .menu ul li path {
  color: #c1c1c1;
}
body nav.my-navbar .menu ul li:hover {
  background-color: #346382;
}
body nav.my-navbar .menu ul li a {
  color: #fff;
  display: block;
}
body nav.my-navbar .menu ul li.hidden {
  height: 0;
  overflow: hidden;
  padding: 0;
  border: 0;
}
body nav.my-navbar .menu ul li.drop {
  background-color: #24303c;
}
body #header {
  position: relative;
  height: calc(80vh - 100px);
  overflow: hidden;
}
body #header .slider {
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
body #header .slider1 {
  background-image: url("/Storage/Statics/images/header1.jpg");
}
body #header .slider2 {
  background-image: url("/Storage/Statics/images/header2.jpg");
}
body #header .slider3 {
  background-image: url("/Storage/Statics/images/header3.jpg");
}
body #header .slider.active {
  display: block;
  animation: show-slider 2s;
}
body #header .pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 10;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
}
body #header .pagination ul li {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
body #header .pagination ul li:hover {
  background-color: #fff;
}
body #header .pagination ul li.active {
  background-color: #fff;
  transform: scale(1.5);
}
body #header .pop-up-search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  height: 30%;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  body #header .pop-up-search-box {
    width: 90%;
  }
}
body #header .pop-up-search-box p {
  color: white;
  font-size: 5vh;
  font-weight: bold;
}
body #header .pop-up-search-box .pop-up-search-box-input {
  border-radius: 5px;
  background-color: white;
  display: flex;
}
body #header .pop-up-search-box .pop-up-search-box-input .div-1 {
  background-color: yellow;
  width: 80%;
}
body #header .pop-up-search-box .pop-up-search-box-input .div-1 input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}
body #header .pop-up-search-box .pop-up-search-box-input .div-2 {
  background-color: #A8D511;
  width: 20%;
  padding: 10px;
  font-weight: bold;
}
@media only screen and (max-width: 1280px) {
  body #header .pop-up-search-box .pop-up-search-box-input .div-2 span {
    display: none;
  }
}

/*# sourceMappingURL=profile.css.map */
